.App{
    width: 100%;
    overflow: scroll;
    .nav{
        position: fixed;
        left: 0;
        top:0;
        width: 100%;
        line-height: 1.1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #878787;
        font-size: .34rem;
        z-index: 2;
        background-color: #fff;
        a{
            &.active{
                color: #333333;
                font-weight: 900;
            }
        }
        
    }
    .iconfont{
        font-size: .4rem;
    }
    .icon-qianjin{
        margin-left: .2rem;
        font-size: .31rem;
    }
    .icon-xindong{
        font-size: .28rem !important;
        color:#222222;
    }
    .icon-xinaixin{
        margin-left: .2rem;
        font-size: .31rem;
        color: red !important;
    }
    .icon-x{
        margin-left: 4.5rem;
    }
    .am-wingblank.am-wingblank-lg {
        margin: .25rem .3rem;
        background-color: #fff;
        button{
            padding: 0;
            border: 0;
            background-color: #fff;
        }
        img{
            border-radius: .15rem;
        }
    }
    .am-checkbox-agree{
        color: #fff;
        text-align: center;
    }
    
    .my-drawer {
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        text-align: center;
        overflow: hidden;
        z-index: 10;
        .lheader{
            height: 3.7rem;
            background-color: #ebebeb;
            overflow: hidden;
            width: 100%;
            
            p{
                line-height: .3rem;
                font-size: .24rem;
                color: #717171;
            }
            p:first-child{
                margin-top: .88rem;
            }
            p:last-child{
                margin: .8rem auto 0 auto;
                width: 2.5rem;
                line-height: .62rem;
                border: 1px solid #d8d8d8;
                border-radius: .62rem;
            }    
        }
        .lnav{
            width: 5.3rem;
            height: 1.5rem;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;
            .iconfont{
                font-size: .4rem;
                color: red;
            }
            p{
                line-height: .6rem;
                font-size: .24rem;
                color:  #717171;
            }
        }
        .luserlist{
            margin: .25rem auto o auto;
           line-height: .8rem; 
           text-align: left;
           .iconfont{
               height: .4rem;
               margin-left: .4rem;
           } 
           span{
               padding-left: .2rem;
           }
        }
        .lhandlelist{
            margin: .25rem auto o auto;
           line-height: .8rem; 
           text-align: left;
           .iconfont{
               height: .4rem;
               margin-left: .4rem;
           } 
           span{
               padding-left: .2rem;
           }
        }
        .lfooter{
            width: 100%;
            line-height: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            span{
                margin-left: .2rem;
            }
        }
      }
      .my-drawer .am-drawer-sidebar {
        background-color: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        
      }
      .my-drawer .am-drawer-sidebar .am-list {
        width: 300px;
        padding: 0;
      }
      .am-drawer.am-drawer-left .am-drawer-sidebar {
        left: 0;
        transform: translateX(-100%);
        top:0;
    }
    
}
.am-checkbox-agree{
    text-align: center !important;
    color:#fff !important;
}
.icon-L4{
    color:#fff;
    font-size: .4rem !important;
}
.icon-fenxiang1{
    color: #fff;
    font-size: .4rem !important;
}
.icon-xiazai1{
    color: #fff;
    font-size: .4rem !important;
}
.icon-xuanze{
    color: #fff;
    font-size: .4rem !important;
}
